@charset "utf-8";
*,
body,
html {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a,
img {
	border: 0;
	color: #000000;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

input,
button {
	outline: none;
}

body {
	font-family: "Microsoft YaHei", "iconfont" !important;
	background: #f6f6f6;
}

.clean_row_margin {
	margin: 0;
}


/*通用*/

.big_outer_border {
	width: 1190px;
	margin: 0 auto !important;
	position: relative;
}

.width {
	width: 100%;
}

.width1 {
	width: 49.5%;
}

.width2 {
	width: 33%;
}

.width2:nth-child(2) {
	margin: 0 0.5%;
}

.width3 {
	width: 66%;
	margin-right: 0.5%;
}

.width4 {
	width: 16.5%;
	margin-right: 0.5%;
}

.width4:last-child {
	margin-right: 0
}

.width5 {
	width: 16.5%;
	position: relative;
}

.width6 {
	width: 66.5%;
	margin-left: 16.5%;
}

.width7 {
	width: 16%;
}

.col-lg-2,
.col-lg-8,
.col-lg-12,
.col-lg-4,
.col-lg-6 {
	padding: 0 5px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clean_float:after {
	content: ".";
	visibility: hidden;
	height: 0;
	display: block;
	clear: both;
}

.icon_weight {
	font-weight: 700;
}

.Beyond_hide {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}


/*导航条*/

.nav_div {
	width: 100%;
	background-color: #e3e4e5;
}

.nav_div .big_outer_border {
	background-color: #e3e4e5 !important;
}

.nav_div .nav_ul {
	padding-top: 7px;
	color: #999;
	font-size: 12px;
}

.nav_div .nav_li {
	overflow: hidden;
	line-height: 30px;
	width: 1px;
	height: 10px;
	margin: 5px 15px 0 15px;
	background-color: #ccc;
}


/*logo*/

.logo_div {
	width: 196px;
	height: 173px;
	position: absolute;
	top: -56px;
	left: 0px;
	box-shadow: 0px -1px 6px #AFAFAF;
}


/*搜索框*/

.Search_box_div {
	margin: 0 auto;
	height: 37px;
	width: 542px;
	border: 1px solid red;
	position: relative;
}

.search-icon {
	font-size: 26px;
}

.icon-gouwuche {
	font-size: 26px;
	font-weight: 500;
}

.Search_box_input {
	height: 35px;
	width: 490px;
	display: inline;
	border: 0;
	padding-left: 10px;
}

.Search_box_camera {
	position: absolute;
	top: 0;
	right: 60px;
	line-height: 36px;
}

.Search_box_search {
	width: 50px;
	height: 35px;
	background: red;
	display: block;
	color: #fff;
	font-size: 24px;
	text-align: center;
}

.Search_box_cue {
	width: 542px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.Search_box_cue li {
	padding: 5px 10px 5px 0;
	font-weight: 700;
	color: #9D9D9D;
}

.Search_box_cue li:first-child {
	color: red;
}


/*购物车*/

.Shopping_Car_box {
	background: #fff;
	width: 130px;
	height: 35px;
	font-weight: 600;
	color: #F11A28;
	border: 1px solid #CCC;
	line-height: 35px;
	position: relative;
}

.Shopping_Car_box .badge {
	display: inline-block;
	min-width: 10px;
	min-height: 10px;
	font-size: 12px;
	padding: 3px 6px;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #F11A28;
	border-radius: 20px;
	line-height: 15px;
	position: absolute;
	top: 2px;
	right: 5px;
	font-weight: 400;
	-webkit-transform: scale(0.80);
}

.Shopping_Car_box .icon_car {
	font-size: 26px;
}


/*tab*/

.nav_link {
	width: 100%;
}

.nav_link li {
	font-size: 18px;
	float: left;
	font-weight: 700;
	color: #080808;
	width: 90px;
	text-align: center;
	line-height: 29px;
	height: 29px;
	margin-left: 12px;
}

.nav_link li a:hover {
	color: #c81623;
}


/*左侧导航*/

.dd-inner {
	height: 478px;
	background: #6e6568;
	width: 16.5%;
	margin-top: 1px;
	padding-top: 5px;
}

.dd-inner .item {
	height: 31px;
	color: #fff;
	line-height: 31px;
	position: relative;
}

.dd-inner .item h3 {
	font-family: "microsoft yahei";
	font-size: 14px;
	font-weight: 400;
	height: 31px;
	line-height: 31px;
	position: absolute;
	left: 11px;
}

.dd-inner .item a {
	color: #fff;
}

.dd-inner .item i {
	font: 400 9px/14px consolas;
	position: absolute;
	top: 9px;
	right: 14px;
	width: 4px;
	height: 14px;
}

.dd-inner .item:hover {
	background: #999395;
}

.dd-inner .item a:hover {
	color: #c81623
}

.bb {
	width: 228px;
	height: 2px;
	background: #c81623;
	position: absolute;
	top: 49px;
}

.dd-inner H3 {
	margin-top: 0
}

.font-item1 {
	position: absolute;
	left: 276px;
	top: 175px;
	z-index: 100;
	font-size: 12px;
	width: 999px;
	border-left: none;
	background: #f7f7f7;
	display: none;
	box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
}

.font-item1 dl {
	margin-bottom: 0;
}

.font-item1 .font-left {
	width: 790px;
	float: left;
	padding: 20px 0 0 20px;
	background: #f7f7f7;
}

.font-item1 .font-left a {
	float: left;
	display: inline-block;
	margin-left: 10px;
	line-height: 24px;
	background: #7c7171;
	color: #fff;
	padding: 0 0 0 8px;
}

.font-item1 .font-left i {
	font: 400 9px/24px consolas;
	display: inline-block;
	cursor: pointer;
	width: 23px;
	height: 24px;
	line-height: 24px;
	/*background:#5c5251;*/
	text-align: center;
	margin-left: 8px;
}

.font-item1 .font-left .one:hover a,
.font-item1 .font-left .one:hover i,
.font-item1 .font-left .two:hover a,
.font-item1 .font-left .two:hover i,
.font-item1 .font-left .three:hover a,
.font-item1 .font-left .three:hover i,
.font-item1 .font-left .four:hover a,
.font-item1 .font-left .four:hover i,
.font-item1 .font-left .five:hover a,
.font-item1 .font-left .five:hover i,
.font-item1 .font-left .sex:hover a,
.font-item1 .font-left .sex:hover i {
	background: #5c5251;
}

.font-item1 .font-lefty {
	clear: both;
	float: left;
	padding: 6px 3px 56px 20px;
	background: #f7f7f7;
	position: relative;
}

.font-item1 .font-lefty .fore1 {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.font-item1 .font-lefty .fore1 a:hover {
	color: #c81623;
}

.font-item1 .font-lefty .fore1 dt {
	font-weight: 700;
	min-width: 78px;
	padding: 8px 30px 0 0;
	float: left;
	text-align: right;
}

.font-item1 .font-lefty .fore1 i {
	font: 400 9px/14px consolas;
	position: absolute;
	top: 11px;
	left: 64px;
}

.font-item1 .font-lefty dd {
	width: 620px;
	float: left;
}

.font-item1 .font-lefty dd a {
	float: left;
	padding: 0 8px;
	margin: 10px 0;
	height: 16px;
	line-height: 16px;
	border-left: 1px solid #e0e0e0;
}

.font-item1 .font-right {
	float: right;
	width: 168px;
	overflow: hidden;
	margin: -29px 20px 10px 0;
}

.font-item1 .font-right a {
	float: left;
	display: inline;
	margin: 1px 0 -4px 1px;
}

.font-item1 .font-right a img {
	width: 83px;
	height: 35px;
}

.font-item1 .font-righty {
	margin-right: 20px;
	width: 168px;
	float: right;
}

.font-item:hover .font-item1,
.fore-2:hover .font-item1,
.fore-3:hover .font-item1,
.fore-4:hover .font-item1,
.fore-5:hover .font-item1,
.fore-6:hover .font-item1,
.fore-7:hover .font-item1,
.fore-8:hover .font-item1,
.fore-9:hover .font-item1,
.fore-10:hover .font-item1,
.fore-11:hover .font-item1,
.fore-12:hover .font-item1,
.fore-13:hover .font-item1,
.fore-14:hover .font-item1,
.fore-15:hover .font-item1 {
	display: block;
}


/*.left_nav {
	width: 100%;
	height: 488px;
	padding-top: 16px;
	background: #6E6568;
	border: 1px solid #797174;
	box-shadow: 0px 2px 6px #AFAFAF;
	position: relative;
}
*/


/*右侧导航*/

.right_nav {
	width: 100%;
	height: 478px;
	padding-top: 16px;
	background: #fff;
	margin-bottom: 10px;
}

.right_nav hr {
	margin: 15px 0 !important;
}

.right_nav .vip_info_div {
	width: 170px;
	margin: 0 auto;
}

.right_nav .vip_icon {
	color: #FDAE07 !important;
}

.right_nav .vip_info {
	font-size: 12px;
	font-weight: 600;
	color: #666;
}

.right_nav .vip_info_name {
	width: 100%;
}

.right_nav .vip_info a {
	color: #666;
}


/*促销公告*/

.Notice {
	width: 170px;
	margin: 0 auto;
	position: relative;
}

.Notice .more {
	position: absolute;
	right: 0px;
	top: -1px;
	font-size: 12px;
}

.Notice_tab {
	overflow: hidden;
	zoom: 1;
	font-size: 12px;
	border-bottom: 1px solid #e6e6e6;
	position: relative;
	line-height: 14px;
}

.Notice_tab .title02 {
	margin-left: 12px !important;
}

.Notice_tab li {
	font-weight: 600;
	float: left;
	color: #666;
	cursor: pointer;
	margin-right: 12px;
	padding-bottom: 5px;
}

.Notice_tab li.current {
	border-bottom: 2px solid #db192b;
}

.Notice_content {
	font-size: 12px;
	color: #666;
}

.Notice_content ul {
	line-height: 25px;
	display: none;
}

.Notice_content .info {
	margin: 17px 0;
}


/*九宫格*/

.Nice_SquareP {
	width: 25%;
	height: 75px;
	padding-top: 15px;
	border-top: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	text-align: center;
}

.Nice_SquareP:nth-child(4n) {
	border-right: none;
}


/*华海秒杀导航条*/

.Seckill_title_div {
	width: 100%;
	height: 55px;
	background: #E01121;
	margin-bottom: 12px;
}

.Seckill_title_div>.div {
	margin-top: 5px;
}

.Seckill_title_icon {
	font-size: 32px !important;
	color: #fff;
	padding-left: 30px;
	margin-top: 8px;
	margin-right: 8px;
}

.Seckill_title_font {
	font-size: 26px;
	font-weight: 400;
	height: 40px;
	padding-top: 9px;
	color: #fff;
}

.Seckill_title_content {
	margin-left: 14px;
	color: #fff;
}

.Seckill_title_time_div {
	color: #fff;
	font-size: 14px;
	margin-right: 12px;
}

.Seckill_title_time_div .font {
	float: left;
	line-height: 45px;
	padding-top: 10px;
	font-size: 14px;
}

.Seckill_title_time {
	float: left;
	margin-left: 6px;
	margin-right: 8px;
}

.Seckill_title_time_common01 {
	float: left;
	width: 35px;
	height: 37px;
	background-color: #440106;
	color: #f90013;
	font-size: 24px;
	font-family: Arial;
	font-weight: 700;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	line-height: 37px;
	margin-top: 10px;
}

.Seckill_title_time_common02 {
	line-height: 55px;
	font-weight: 600;
	color: #000;
	font-size: 22px !important;
}


/*华海秒杀内容*/

.Seckill_content {
	width: 100%;
	height: 227px;
	margin: 0 auto 23px auto;
}

.Seckill_content .product_div {
	width: 16.66%;
	padding: 10px;
	padding-bottom: 0;
	border-right: 1px solid #ccc;
	height: 227px;
	background: #fff;
}

.Seckill_content .product_div_name:hover {
	color: #e01222;
}

.Seckill_content .product_div:last-child {
	border-right: 0px;
}

.product_div .product_div_name {
	color: #999;
	display: block;
	max-width: 100%;
	_width: 100%;
	overflow: hidden;
	font-size: 12px;
	text-align: left;
	height: 32px;
	line-height: 16px;
	word-wrap: break-word;
	word-break: break-all;
}

.product_div .Price_new {
	color: #f00007;
	font-size: 18px;
	font-weight: 700;
	margin-right: 15px;
}

.product_div .Price_old {
	color: #999;
	font-size: 12px;
	margin-top: 5px;
	text-decoration: line-through;
}


/*发现好货、会买专辑、排行榜*/

.Small_module_div {
	width: 100%;
	/*height: 430px;*/
	margin-bottom: 12px;
}

.Small_module_div_title {
	width: 100%;
	height: 56px;
	padding: 0 15px 0 25px;
	line-height: 56px;
}

.Small_module_div_content {
	padding: 10px;
	height: 374px;
	background: #fff;
}

.Small_module_div_content_info {
	width: 50%;
	height: 115px;
	position: relative;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.Small_module_div_content_info .name_common {
	font-size: 14px;
	font-weight: 600;
	position: absolute;
	top: 15px;
	left: 20px;
	width: 80px;
	line-height: 20px;
	z-index: 1;
	word-wrap: break-word;
}

.Small_module_div_content_info>img {
	width: 80px;
	height: 80px;
}

.Small_module_div_content_info .name_common {
	width: 80px;
}


/*海货、农贸*/

.Small_module_div_content02 {
	width: 62%;
	height: 100%;
}

.Small_module_div_title .nav_li {
	width: 74px;
	height: 22px;
	text-align: center;
	color: #fff;
}

.Small_module_div_title .nav_li_hr {
	width: 1px;
	height: 10px;
	background: #fff;
	margin: 23px 4px 0 4px;
}

.Small_module_div_content_info02 {
	width: 50%;
	height: 178px;
	position: relative;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.Small_module_div_content_info02_big {
	position: relative;
	height: 100%;
	width: 35%;
	margin-right: 2%;
	border-right: 1px solid #ccc;
}

.Small_module_div_content_info02_big>.img {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.Small_module_div_content_info02_big .name_common01 {
	font-size: 16px;
	font-weight: 600;
	position: absolute;
	top: 15px;
	left: 20px;
	width: 130px;
	line-height: 20px;
	z-index: 1;
	word-wrap: break-word;
}

.Small_module_div_content_info02>.name_small {
	position: absolute;
	top: 40px;
	left: 20px;
	font-size: 12px;
	color: #666;
	max-width: 68px;
	z-index: 1;
}

.Small_module_div_content_info02_big .name_common02 {
	font-size: 12px;
	font-weight: 600;
	position: absolute;
	top: 40px;
	left: 20px;
	width: 130px;
	line-height: 20px;
	z-index: 1;
	word-wrap: break-word;
}

.Small_module_div_content_info02>img {
	width: 120px;
	height: 120px;
}

.Small_module_div_content_info:nth-child(2n),
.Small_module_div_content_info02:nth-child(2n) {
	border-right: 0;
}

.Small_module_div_content_info img:hover,
.Small_module_div_content_info02 img:hover,
.Small_module_div_content_info02_big img:hover {
	margin-right: 10px;
}

.Small_module_div_content_info:nth-last-child(2),
.Small_module_div_content_info:last-child,
.Small_module_div_content_info02:nth-last-child(2),
.Small_module_div_content_info02:last-child {
	border-bottom: 0;
}

.Small_module_div_content_info .name_common,
.Small_module_div_content_info02 .name_common,
.Small_module_div_content_info02_big .name_common {
	font-size: 14px;
	font-weight: 600;
	position: absolute;
	top: 15px;
	left: 20px;
	line-height: 20px;
	z-index: 1;
	word-wrap: break-word;
}

.Small_module_div_content_info02 .name_common,
.Small_module_div_content_info02_big .name_common {
	max-width: 130px;
}

.Small_module_div_content_info>img,
.Small_module_div_content_info02>img {
	position: absolute;
	bottom: 5px;
	right: 10px;
	-webkit-transition: -webkit-transform .4s ease-out;
	transition: -webkit-transform .4s ease-out;
	-moz-transition: transform .4s ease-out, -moz-transform .4s ease-out;
	transition: transform .4s ease-out;
	transition: transform .4s ease-out, -webkit-transform .4s ease-out, -moz-transform .4s ease-out;
}

.background01 {
	background: #3d8e97;
}

.background02 {
	background: #6e3b81;
}

.background03 {
	background: #e76d00;
}

.background04 {
	background: #488aac;
}

.background05 {
	background: #47ac74;
}

.background06 {
	background: #705752;
}

.background07 {
	background: #ad8a48;
}

.background08 {
	background: #597159;
}

.background09 {
	background: #973b3c;
}

.background10 {
	background: #5e5d99;
}

.background11 {
	background: #b26c9e;
}

.name_color01 {
	color: #3d8e97;
}

.name_color02 {
	color: #6e3b81;
}

.name_color03 {
	color: #e76d00;
}

.name_color04 {
	color: #478aac;
}

.name_color05 {
	color: #47ac74;
}

.name_color06 {
	color: #705752;
}

.name_color07 {
	color: #ad8a48;
}

.name_color08 {
	color: #597159;
}

.name_color09 {
	color: #973b3c;
}

.name_color10 {
	color: #5e5d99;
}

.name_color11 {
	color: #b26c9e;
}


/*五张广告图*/

.Five_ad_positions {
	margin-bottom: 12px;
}

.Five_ad_positions>img {
	width: 19.3%;
	margin-right: 0.5%;
}

.Five_ad_positions>img:last-child {
	margin-right: 0;
}

.Eight_ad_positions {
	margin-bottom: 12px;
}

.Eight_ad_positions>img {
	width: 12.1%;
	border-right: 1px solid #f6f6f6;
}

.Eight_ad_positions>img:last-child {
	border-right: 0;
}

#header {
	margin-bottom: 20px;
}

#menu {
	position: fixed;
	top: 20%;
	left: 40px;
}

#menu ul {
	margin-bottom: 0;
}

#menu ul li {
	color: #fff;
	display: block;
	position: relative;
	width: 40px;
	list-style: none;
	text-align: center;
	padding: 5px;
	font-size: 12px;
	cursor: pointer;
	margin-bottom: 1px;
	background: #626262;
	font-weight: 600;
}

#menu ul li.last {
	color: #fff !important;
	background: #A4A4A4;
	color: black;
	border-bottom: none;
}

#menu ul li.last>p {
	margin: 0;
}

#menu ul li span {
	display: none;
	width: 40px;
	padding: 5px;
	position: absolute;
	top: 0;
	left: 0;
	color: red;
}

#menu ul li:hover span {
	display: block;
	background: #c81623;
	color: white;
}

#menu ul li span.active {
	display: block;
	background: #c81623;
	color: white;
}

#menu ul li:hover span.active {
	display: block;
	background: #c81623;
	color: white;
}


/*店铺首页*/

.banner_div_shop {
	width: 100%;
	height: 100px;
	background: #fff;
	border-bottom: 2px #999 solid;
	margin-bottom: 10px;
	padding-top: 10px;
}

.Division_hr1 {
	height: 50px;
	width: 1px;
	background: #ccc;
	margin-top: 25px;
}

.contact_service {
	padding: 2px 5px;
	background: #F39701;
	border-radius: 100px;
	color: #fff;
	font-size: 12px;
}

.contact_service_icon {
	color: #C91521;
	font-size: 26px;
}

.contact_shop {
	padding: 20px 0 0 15px;
}

.shop_search_div {
	width: 500px;
	height: 40px;
	margin: 30px 0;
}

.shop_search_div>input {
	height: 35px;
	width: 305px;
	display: inline;
	border: 2px solid #C91521;
	font-size: 16px;
	padding-left: 10px;
}

.shop_search_div>.button {
	outline: none;
	width: 80px;
	height: 39px;
	border: 1px red;
	margin-right: 20px;
	background: #C91521;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 37px;
}

.shop_search_div>.button:last-child {
	margin-right: 0;
	background: #999999;
}

.Collection {
	padding: 15px 0 0 0;
}

.Collection_div {
	width: 79px;
	margin: 0 auto;
}

.Collection_div>span {
	padding: 2px 5px;
	background: #F39701;
	border-radius: 100px;
	color: #fff;
	font-size: 12px;
}

.Collection_div>span>li {
	color: #f5f5f5;
	font-size: 18px;
	margin-top: 10px;
}

.Division_hr2 {
	height: 85px;
	width: 1px;
	background: #ccc;
	margin-top: 25px;
}

.red_bag_div {
	width: 615px;
}

.red_bag_div fieldset {
	margin-top: 4px;
	border: none;
	border-top: 2px solid red;
	color: red;
	font-size: 14px;
}

.red_bag_div fieldset legend {
	padding: 0 2px;
}

.red_bag {
	width: 75px;
	height: 75px;
	padding: 16px 0 3px 0;
	margin-top: 5px;
	text-align: center;
	background: url(../img/bg01.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 5px;
}

.red_bag>h1 {
	color: #fff;
}

.red_bag_satisfy {
	font-size: 12px;
	color: #fff;
	display: block;
	padding: 0 5px;
}

.red_bag:last-child {
	margin-right: 0;
}

.shop_top_nav {
	padding-bottom: 7px;
}

.shop_nav {
	background: #C91521;
}

.shop_nav .nav_ul {
	color: #fff !important;
	padding-top: 7px;
}

.shop_nav .nav_li {
	background: #fff !important;
	margin: 5px 20px 0 20px;
}

.Coupon_div {
	width: 100%;
	height: 110px;
	padding: 20px 0;
	background: #EE4240;
	margin-top: -4px;
}

.Money_symbol {
	vertical-align: top;
	color: #fff;
	display: block;
	margin-top: 10px;
}

.Money_font {
	font-size: 50px;
	color: #fff;
}

.Coupon_font {
	color: #fff;
	display: block;
	margin-top: 10px;
}

.Coupon_button {
	padding: 3px 5px;
	line-height: 25px;
	text-align: center;
	font-size: 12px !important;
	background: #642E45;
	color: #fff;
}

.Coupon_div .big_outer_border li {
	width: 200px;
}

.Coupon_hr {
	background: #fff;
	width: 1px !important;
	height: 100px;
	margin: 0 50px;
}

.Coupon_term {
	color: #fff;
	width: 200px;
}

.shop_div {
	width: 1190px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.shop_product_div {
	background: #EE4240;
	padding: 20px 0;
}

.shop_product_div>li {
	width: 33%;
	border-right: 1px solid #fff;
	text-align: center;
}

.shop_product_div>li:last-child {
	border-right: 0;
}

.shop_product_div .li_hr {
	width: 90%;
	height: 1px;
	background: #fff;
	margin: 15px auto;
	position: relative;
}

.shop_product_div .li_square {
	width: 10%;
	height: 7px;
	top: -3px;
	left: 45%;
	background: #fff;
	position: absolute;
}

.shop_product_title {
	font-size: 2em;
	color: #fff;
}

.shop_product_suggest {
	font-size: 1.5em;
	color: #fff;
	margin-bottom: 15px;
}

.shop_product_div .rmb {
	padding: 2px 6px;
	border: 1px solid #fff;
	color: #fff;
	display: inline;
	font-size: 2em;
}


/*个人中心*/

.MyCenter_div {}

.MyCenter_div .Shopping_Car_box {
	border: 0;
	font-size: 14px;
}

.MyCenter_div .Shopping_Car_box .badge {
	right: 14px;
}

.MyCenter_div .Shopping_Car_box .Car_box_next {
	margin-left: 8px;
	color: #999;
	font-size: 12px;
}

.MyCenter_div .logo_nav {
	height: 78px;
	width: 100%;
	background: #e45050;
	margin-bottom: 20px;
}

.MyCenter_div .logo_nav .ul_title {
	margin-left: 150px;
	color: #fff;
	padding-top: 20px;
}

.MyCenter_div .logo_nav .ul_title>li {
	padding: 10px 10px;
	margin: 0 30px;
}

.MyCenter_div .logo_nav .search_ShopCart {
	width: 390px;
	padding-top: 21px;
}

.MyCenter_div .logo_nav .search_ShopCart .search_div {
	width: 240px;
	height: 37px;
	position: relative;
}

.MyCenter_div .logo_nav .search_ShopCart .search_div>input {
	width: 175px;
	height: 26px;
	padding: 5px 0;
	border: 0;
}

.MyCenter_div .logo_nav .search_ShopCart .search_div>button {
	width: 65px;
	height: 36px;
	background: #f5f5f5;
	border: 0;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 16px;
}

.drop-down-li {
	position: relative;
}

.drop-down-li .Hidden_menu {
	position: absolute;
	top: 41px;
	left: -1px;
	z-index: 10;
	background: #fff;
	display: none;
	color: #000;
	width: 104px;
	border: 1px solid #ccc;
	border-top: 0;
	font-size: 12px;
}

.drop-down-li>.Hidden_menu>li {
	margin: 0 !important;
	padding: 0 0 10px 10px;
	height: 20px;
	line-height: 30px;
}


/*.drop-down-li .triangle {
	border-style: solid;
	border-width: 6px;
	font-size: 0;
	height: 0;
	line-height: 0;
	position: absolute;
	width: 0;
	border-color: transparent transparent #fff;
	_border-color: #ff4401 #ff4401 #fff;
	left: 50%;
	top: 45px;
	margin-left: -6px;
	box-shadow: 0 1px 0 #fff;
	bottom: 2px;
	display: none;
}*/

.drop-down-li .upper {
	display: none;
}

.drop-down-li:hover {
	background: #fff;
	color: #000;
	border: 1px solid #ccc;
	border-bottom: 0;
}

.drop-down-li:hover .upper {
	display: initial !important;
}

.drop-down-li:hover .next {
	display: none;
}

.drop-down-li:hover ul {
	display: block !important;
}

.drop-down-li:hover .triangle {
	display: block !important;
}

.Hidden_menu li:hover a {
	color: #e4393c;
	;
}

.Hidden_menu li:hover {
	background: #f5f5f5;
}

.MyCenter_div dl {
	padding-left: 20px;
	font-size: 12px;
}

.MyCenter_div dl dt {
	height: 28px;
	line-height: 28px;
	font-weight: 700;
	color: #333;
}

.MyCenter_div dl dd {
	line-height: 24px;
}

.MyCenter_div .right-nav {
	width: 120px;
}

.MyCenter_div .right-nav dl dd:hover a {
	color: #e4393c;
	text-decoration: underline;
}

.MyCenter_div .right-nav dl {
	padding-bottom: 15px;
}

.MyCenter_div .content {
	width: 1190px;
	margin: 0 auto;
}

.MyCenter_div .basic_info_div {
	height: 140px;
	width: 1033px;
	padding: 23px 0 18px 22px;
	background: #fff;
	margin-bottom: 20px;
}

.MyCenter_div .basic_info_div .img_div {
	width: 580px;
	margin-left: 70px;
}

.MyCenter_div .basic_info_div .img_div>li {
	font-size: 14px;
	width: 25%;
	color: #999999;
	text-align: center;
}

.MyCenter_div .basic_info_div .img_div span {
	color: #c81625;
}

.MyCenter_div .basic_info_div .vip-info {
	width: 290px;
}

.MyCenter_div .basic_info_div .vip-info .li-hr {
	width: 1px;
	height: 120px;
	margin: -8px 0px 0 20px;
	background: #ccc;
}

.MyCenter_div .basic_info_div .vip-info li dd {
	color: #1d62ad;
}

.MyCenter_div .basic_info_div .vip-info li dd .icon {
	color: #ffb400;
	font-size: 24px;
	margin-left: 3px;
}

.MyCenter_div .basic_info_div .vip-info li .progress-bar-div {
	background: #ccc;
	height: 10px;
	width: 90px;
	display: block;
	position: relative;
}

.MyCenter_div .basic_info_div .vip-info li .progress {
	height: 100%;
	width: 40px;
	background: #FB9735;
	position: absolute;
	top: 0;
	left: 0;
}

.MyCenter_div .basic_info_div .vip-info li .progress-font {
	color: #ffb400;
	line-height: 10px;
	font-size: 12px;
	margin-left: 3px;
}

.MyCenter_div .left-content {
	width: 1055px;
	padding-left: 15px;
}

.MyCenter_div .left-content .li-hr {
	width: 1px;
	height: 10px;
	background: #101010;
	margin: 10px 10px 0 10px;
}

.MyCenter_div .left-content .content {
	width: 100%;
}

.MyCenter_div .left-content .content .MyOrder {
	width: 735px;
	min-height: 276px;
	background: #fff;
	margin-bottom: 20px;
	padding: 23px 0 18px 22px;
}

.MyCenter_div .more_shop {
	font-size: 12px;
	vertical-align: bottom;
	margin-right: 10px;
}

.MyCenter_div .MyOrder ul {
	margin-top: 25px;
}

.MyCenter_div .MyOrder ul .common {
	height: 58px;
	font-size: 14px;
	text-align: center;
	line-height: 58px;
	margin-top: 17px;
}

.MyCenter_div .MyOrder ul .name {
	width: 130px;
	color: #000;
	margin: 0 0 0 20px;
	margin-top: 17px;
	height: 58px;
	font-size: 14px;
}

.MyCenter_div .MyOrder ul .Model {
	width: 130px;
	color: #999;
}

.MyCenter_div .MyOrder ul .number {
	width: 70px;
	color: #000;
}

.MyCenter_div .MyOrder ul .Price {
	width: 120px;
	color: red;
}

.MyCenter_div .MyOrder ul .state {
	width: 90px;
	color: #333;
}

.MyCenter_div .MyOrder ul .li-hr {
	width: 1px;
	height: 58px;
	background: #ddd;
	margin-top: 17px;
}

.MyCenter_div .Recommend {
	width: 735px;
	background: #fff;
	margin-bottom: 20px;
	padding: 23px 0 11px 22px;
}

.MyCenter_div .Recommend:last-child {
	margin-bottom: 0;
}

.MyCenter_div .Recommend ul {
	margin-top: 30px;
}

.MyCenter_div .Recommend ul li {
	width: 25%;
	text-align: center;
}

.MyCenter_div .Recommend ul li p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 93%;
	font-size: 14px;
	margin: 3px 0 10px 0;
}

.MyCenter_div .Recommend ul li div {
	width: 90%;
}

.MyCenter_div .Recommend ul li div .price {
	color: #ec0404;
}

.MyCenter_div .Recommend ul li div .Alike {
	border: 1px solid #999;
	border-radius: 10px;
	font-size: 12px;
	color: #999;
	padding: 1px 3px;
}

.MyCenter_div .business {
	width: 287px;
	height: 558px;
	background: #fff;
	padding: 23px 0 18px 0px
}

.MyCenter_div .business h4 {
	padding-left: 22px;
	margin-bottom: 10px;
}

.MyCenter_div .business ul li {
	background: #f5f5f5;
	width: 47%;
	margin: 6px 2%;
	text-align: center;
	padding: 7px 0;
}

.MyCenter_div .business ul li:nth-child(2n) {
	margin-left: 0;
}

.MyCenter_div .business ul li p {
	text-align: center;
	color: #999;
	font-size: 13.5px;
	line-height: 20px;
	padding: 10px 0;
}


/*结尾*/

.Ending {
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #dedede;
}

.Ending>ul {
	width: 1100px;
	margin: 0px auto;
	padding: 40px 0 20px 0;
}

.Ending>ul>li {
	width: 25%;
}

.Ending>ul>li>img {
	margin-right: 5px;
}

.Ending-font {
	width: 100%;
	background: #eaeaea;
}

.Ending-font>ul {
	width: 1190px;
	margin: 0px auto 20px auto;
	padding:20px 0;
	border-bottom: 1px solid #ccc;
	
}

.Ending-font>ul>li {
	width: 12%;
	margin-left:6%;
}

.Ending-font>ul>li>ul>li {
	display: block;
	font-size: 12px;
	color: #666;
	line-height: 21px;
}

.Ending-font>ul>li>ul>li:first-child {
	font-size: 17px;
	color: #68686c;
	line-height: 40px;
}

.Ending-font>p {
	font-size: 12px;
	color: #666;
	line-height: 20px;
	text-align: center;
}